In [2]:

from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("Data Exploration") \
    .getOrCreate()

-Entendendo arquivo fonte(csv) para aplicar as futuras regras de transformacao nos dados
    - tam da base de dados
    - Verificando tipo das variaveis
    - valores faltantes
    - valores nulos

In [9]:
from pyspark.sql import SparkSession

path_csv = '/home/fabiana/Área de Trabalho/assignment-diario-de-bordo-dados/data/inputs/info_transportes.csv'

df_csv = spark.read.csv(path_csv, header=True, inferSchema=True, sep=";")
print(f"total_registros: ", df_csv.count())
df_csv.printSchema()
df_csv.show(5)

total_registros:  1153
root
 |-- DATA_INICIO: string (nullable = true)
 |-- DATA_FIM: string (nullable = true)
 |-- CATEGORIA: string (nullable = true)
 |-- LOCAL_INICIO: string (nullable = true)
 |-- LOCAL_FIM: string (nullable = true)
 |-- DISTANCIA: integer (nullable = true)
 |-- PROPOSITO: string (nullable = true)

+----------------+----------------+---------+------------+---------------+---------+-----------------+
|     DATA_INICIO|        DATA_FIM|CATEGORIA|LOCAL_INICIO|      LOCAL_FIM|DISTANCIA|        PROPOSITO|
+----------------+----------------+---------+------------+---------------+---------+-----------------+
|01-01-2016 21:11|01-01-2016 21:17|  Negocio| Fort Pierce|    Fort Pierce|       51|      Alimentação|
|01-02-2016 01:25|01-02-2016 01:37|  Negocio| Fort Pierce|    Fort Pierce|        5|             null|
|01-02-2016 20:25|01-02-2016 20:38|  Negocio| Fort Pierce|    Fort Pierce|       48|         Entregas|
|01-05-2016 17:31|01-05-2016 17:45|  Negocio| Fort Pierce|    Fort Pierce|       47|          Reunião|
|01-06-2016 14:42|01-06-2016 15:49|  Negocio| Fort Pierce|West Palm Beach|      637|Visita ao cliente|
+----------------+----------------+---------+------------+---------------+---------+-----------------+
only showing top 5 rows

In [23]:
df_csv.filter(df_csv["DATA_INICIO"].isNull()).show()

+-----------+--------+---------+------------+---------+---------+---------+
|DATA_INICIO|DATA_FIM|CATEGORIA|LOCAL_INICIO|LOCAL_FIM|DISTANCIA|PROPOSITO|
+-----------+--------+---------+------------+---------+---------+---------+
+-----------+--------+---------+------------+---------+---------+---------+

In [24]:
df_csv.filter(df_csv["DATA_FIM"].isNull()).show()

+-----------+--------+---------+------------+---------+---------+---------+
|DATA_INICIO|DATA_FIM|CATEGORIA|LOCAL_INICIO|LOCAL_FIM|DISTANCIA|PROPOSITO|
+-----------+--------+---------+------------+---------+---------+---------+
+-----------+--------+---------+------------+---------+---------+---------+

In [22]:
df_csv.groupBy("CATEGORIA") \
    .count() \
    .orderBy("count", ascending=False).show()

+---------+-----+
|CATEGORIA|count|
+---------+-----+
|  Negocio| 1076|
|  Pessoal|   77|
+---------+-----+

In [20]:
df_csv.groupBy("LOCAL_INICIO") \
    .count() \
    .orderBy("count", ascending=False).show()

df_csv.filter(df_csv["LOCAL_INICIO"].isNull()).show()

+----------------+-----+
|    LOCAL_INICIO|count|
+----------------+-----+
|            Cary|  201|
|Unknown Location|  148|
|     Morrisville|   85|
|     Whitebridge|   68|
|       Islamabad|   57|
|          Durham|   37|
|          Lahore|   36|
|          Karchi|   31|
|         Raleigh|   28|
|  Westpark Place|   17|
|            Apex|   17|
|        Berkeley|   16|
|         Midtown|   14|
|      R?walpindi|   11|
|          Kenner|   11|
|       Kissimmee|   11|
|     New Orleans|   10|
|      Emeryville|   10|
|        Downtown|    9|
|         Colombo|    8|
+----------------+-----+
only showing top 20 rows

+-----------+--------+---------+------------+---------+---------+---------+
|DATA_INICIO|DATA_FIM|CATEGORIA|LOCAL_INICIO|LOCAL_FIM|DISTANCIA|PROPOSITO|
+-----------+--------+---------+------------+---------+---------+---------+
+-----------+--------+---------+------------+---------+---------+---------+

In [21]:
df_csv.groupBy("LOCAL_FIM") \
    .count() \
    .orderBy("count", ascending=False).show()

df_csv.filter(df_csv["LOCAL_FIM"].isNull()).show()

+----------------+-----+
|       LOCAL_FIM|count|
+----------------+-----+
|            Cary|  203|
|Unknown Location|  149|
|     Morrisville|   84|
|     Whitebridge|   64|
|       Islamabad|   58|
|          Durham|   36|
|          Lahore|   36|
|         Raleigh|   29|
|          Karchi|   28|
|            Apex|   17|
|        Berkeley|   16|
|  Westpark Place|   16|
|      R?walpindi|   13|
|       Kissimmee|   12|
|         Midtown|   11|
|     New Orleans|   10|
|          Kenner|   10|
|  Edgehill Farms|   10|
|      Emeryville|    9|
|         Central|    9|
+----------------+-----+
only showing top 20 rows

+-----------+--------+---------+------------+---------+---------+---------+
|DATA_INICIO|DATA_FIM|CATEGORIA|LOCAL_INICIO|LOCAL_FIM|DISTANCIA|PROPOSITO|
+-----------+--------+---------+------------+---------+---------+---------+
+-----------+--------+---------+------------+---------+---------+---------+

In [16]:
df_csv.filter(df_csv["DISTANCIA"] <= 0) or df_csv.filter(df_csv["DISTANCIA"].isNull()).show()

DataFrame[DATA_INICIO: string, DATA_FIM: string, CATEGORIA: string, LOCAL_INICIO: string, LOCAL_FIM: string, DISTANCIA: int, PROPOSITO: string]

In [19]:
df_csv.groupBy("PROPOSITO") \
    .count() \
    .orderBy("count", ascending=False).show()


df_csv.filter(df_csv["PROPOSITO"].isNull()).show()

+-----------------+-----+
|        PROPOSITO|count|
+-----------------+-----+
|             null|  502|
|          Reunião|  187|
|      Alimentação|  160|
|         Entregas|  128|
|Visita ao cliente|  101|
|Parada temporária|   48|
|Entre escritórios|   18|
|     Deslocamento|    5|
| Aeroporto/Viagem|    3|
|         Caridade|    1|
+-----------------+-----+

+----------------+----------------+---------+----------------+-------------------+---------+---------+
|     DATA_INICIO|        DATA_FIM|CATEGORIA|    LOCAL_INICIO|          LOCAL_FIM|DISTANCIA|PROPOSITO|
+----------------+----------------+---------+----------------+-------------------+---------+---------+
|01-02-2016 01:25|01-02-2016 01:37|  Negocio|     Fort Pierce|        Fort Pierce|        5|     null|
| 01-19-2016 9:09| 01-19-2016 9:23|  Negocio|     Whitebridge|Lake Wellingborough|       72|     null|
|02-09-2016 10:54|02-09-2016 11:07|  Pessoal|     Whitebridge|         Northwoods|       53|     null|
|02-09-2016 11:43|02-09-2016 11:50|  Pessoal|      Northwoods|         Tanglewood|        3|     null|
|02-09-2016 13:36|02-09-2016 13:52|  Pessoal|      Tanglewood|            Preston|       51|     null|
|02-09-2016 13:58|02-09-2016 14:02|  Pessoal|         Preston|        Whitebridge|       15|     null|
|02-09-2016 18:55|02-09-2016 19:11|  Negocio|            Cary|        Morrisville|       61|     null|
|02-13-2016 23:45| 02-13-2016 0:01|  Pessoal|   East Elmhurst|    Jackson Heights|       27|     null|
| 02-13-2016 0:50| 02-13-2016 1:00|  Pessoal| Jackson Heights|      East Elmhurst|       18|     null|
| 02-16-2016 8:29| 02-16-2016 9:34|  Negocio|Unknown Location|            Colombo|      141|     null|
|02-16-2016 10:31|02-16-2016 10:41|  Negocio|         Colombo|            Colombo|       26|     null|
|02-16-2016 11:32|02-16-2016 12:02|  Negocio|         Colombo|            Colombo|       45|     null|
|02-16-2016 12:39|02-16-2016 12:42|  Negocio|         Colombo|            Colombo|       17|     null|
|02-16-2016 16:34|02-16-2016 17:10|  Negocio|         Colombo|            Colombo|        6|     null|
|02-19-2016 11:20|02-19-2016 11:26|  Pessoal|       Islamabad|          Islamabad|       15|     null|
|02-19-2016 11:45|02-19-2016 11:50|  Pessoal|       Islamabad|          Islamabad|        1|     null|
|02-19-2016 16:26|02-19-2016 16:45|  Negocio|Unknown Location|          Islamabad|       35|     null|
|02-19-2016 17:09|02-19-2016 17:20|  Negocio|       Islamabad|          Islamabad|       42|     null|
|02-19-2016 20:08|02-19-2016 20:30|  Pessoal|       Islamabad|   Unknown Location|      136|     null|
|02-19-2016 20:34|02-19-2016 20:51|  Pessoal|Unknown Location|   Unknown Location|       25|     null|
+----------------+----------------+---------+----------------+-------------------+---------+---------+
only showing top 20 rows